@using IMDBApp.Models;

<div class="container" style="border:1px solid;border-color:whitesmoke">
    
    <div class="row">
        <div class="col-md-8" style="border:1px solid;border-radius:25px;border-color:beige;margin:20px">
            <h3><b>Feature Film Released between 2018-01-01 and 2018-12-31 (Sorted by Popularity Ascending)</b></h3>
            <div style="margin:0px 0px 20px 10px">
                Sort by:
                <a href="/search/title?title_type=feature&amp;year=2018-01-01,2018-12-31&amp;sort=moviemeter,desc"><strong>Popularity</strong>▲</a>
                <span>|</span>           <a href="/search/title?title_type=feature&amp;year=2018-01-01,2018-12-31&amp;sort=alpha,asc">A-Z</a>
                <span>|</span>           <a href="/search/title?title_type=feature&amp;year=2018-01-01,2018-12-31&amp;sort=user_rating,asc">User Rating</a>
                <span>|</span>           <a href="/search/title?title_type=feature&amp;year=2018-01-01,2018-12-31&amp;sort=num_votes,asc">Number of Votes</a>
                <span>|</span>           <a href="/search/title?title_type=feature&amp;year=2018-01-01,2018-12-31&amp;sort=boxoffice_gross_us,asc">US Box Office</a>
                <span>|</span>           <a href="/search/title?title_type=feature&amp;year=2018-01-01,2018-12-31&amp;sort=runtime,asc">Runtime</a>
                <span>|</span>           <a href="/search/title?title_type=feature&amp;year=2018-01-01,2018-12-31&amp;sort=year,asc">Year</a>
                <span>|</span>           <a href="/search/title?title_type=feature&amp;year=2018-01-01,2018-12-31&amp;sort=release_date,asc">Release Date</a>
                <span>|</span>           <a href="/search/title?title_type=feature&amp;year=2018-01-01,2018-12-31&amp;sort=your_rating_date,asc">Date of Your Rating</a>
                <span>|</span>           <a href="/search/title?title_type=feature&amp;year=2018-01-01,2018-12-31&amp;sort=my_ratings,asc">Your Rating</a>
            </div>
            @if (Model.Count > 0)
            {
                for (int i = 1; i <= Model.Count; i++)
                {
                    {
                        if (i % 2 != 0)
                        {
                            <div class="row" style="background-color:#f6f6f5;margin:0px 10px 0px 10px" >
                                <div class="col-md-2">

                                    <img src="~/Images/Dunkirk.jpg" style="width:87px;height:118px;padding:10px" />
                                </div>
                                <div class=" col-md-9" style="padding:10px">
                                    @i <label style="color:#136CB2;font-size:15px">@Model[i - 1].MovieName (@Model[i - 1].ReleaseYear)</label><br />
                                    <div>
                                        <span style="color:rgba(0,0,0,0.6);font-family:Verdana,Arial,sans-serif;font-size:11px">@Model[i - 1].Runtime | @Model[i - 1].genre</span>
                                        <br />
                                        <span>
                                            <img src="~/Images/star.jpg" style="width:18px;height:18px;margin-right:3px" />@Model[i - 1].IMDBRating                                            
                                        </span><br />
                                        <p style="color:rgba(0,0,0,0.6);font-family:Verdana,Arial,sans-serif;font-size:11px">
                                            @Model[i - 1].MovieDetails
                                        </p>
                                        <p style="font-size:11px;font-family:Verdana,Arial,sans-serif">
                                            Director: <a href="">@Model[i - 1].Director</a> | Actor: <a href="">@Model[i - 1].Actor</a>  
                                            <br /><br />
                                            Gross: @Model[i - 1].BoxOfficeCollection$
                                        </p>
                                        
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row" style="background-color:#fbfbfb;margin:0px 10px 0px 10px">
                                <div class="col-md-2">

                                    <img src="~/Images/Dunkirk.jpg" style="width:87px;height:118px;padding:10px" />
                                </div>
                                <div class="col-md-9" style="padding:10px">
                                    @i <label style="color:#136CB2;font-size:15px">@Model[i - 1].MovieName (@Model[i - 1].ReleaseYear)</label><br />
                                    <div>
                                        <span style="color:rgba(0,0,0,0.6);font-family:Verdana,Arial,sans-serif;font-size:11px">@Model[i - 1].Runtime | @Model[i - 1].genre
                                        </span>
                                        <br />
                                        <span>
                                            <img src="~/Images/star.jpg" style="width:18px;height:18px;margin-right:3px" />@Model[i - 1].IMDBRating

                                        </span><br />
                                        <p style="color:rgba(0,0,0,0.6);font-family:Verdana,Arial,sans-serif;font-size:11px">
                                            @Model[i - 1].MovieDetails
                                        </p>
                                        <p style="font-size:11px;font-family:Verdana,Arial,sans-serif">
                                            Director: <a href="">@Model[i - 1].Director</a> | Actor: <a href="">@Model[i - 1].Actor</a>  
                                        <br /><br />
                                            Gross: @Model[i - 1].BoxOfficeCollection$
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            }



        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>
<script type="text/javascript">
    $('document').ready(function () {

        $('input[name=rating]').click(function () {

            // Grab value
            alert($(this).val());

           
        });


    })
   

</script>

